body{
    background-color: #ccc;
    overflow-x: hidden;
}
table, th, td{
    border: 1px solid black;
}
table{
    width: 100vw;
    margin: 10px 10px 0 0;
    
    

}
td{
    text-align: center;
}
h1{
    text-align: center;
    background-color: aquamarine;
    border: 5px solid blueviolet;
    margin: 5px;
}